chatwork = {
  token = "xxxxxxxxxx"
  targetRoomId = 000000
}

slack = {
  hookUrl = "https://hooks.slack.com/services/xxx/xxx/xxxx"
}

dynamodb = {
  lastLoaded = {
    table = xxxxxxx
    region = ap-northeast-1
  }
}
